<nav class="navbar navbar-masthead navbar-inverse navbar-fixed-top">
  <img class="personal-image-small pull-left" src="{{ '/assets/personal_image.jpg' | prepend: site.baseurl }}">

  <div class="header-name pull-left">Jason L. Anderson</div>

  <ul class="nav navbar-nav pull-right">
    <li><a class="active" href="{{ "/index.html" | prepend: site.baseurl }}">Welcome!</a></li>
    <li><a href="{{ "/accomplishments.html" | prepend: site.baseurl }}">Accomplishments</a></li>
    <li><a href="{{ "/projects.html" | prepend: site.baseurl }}">Projects</a></li>
    <li><a href="{{ "/publications.html" | prepend: site.baseurl }}">Publications</a></li>
    <li><a href="{{ "/travel.html" | prepend: site.baseurl }}">Travel</a></li>
  </ul>
</nav>