<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jason L. Anderson</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ "/vendor/stylesheets/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/vendor/stylesheets/bootstrap-theme.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/vendor/stylesheets/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/vendor/stylesheets/jquery.dataTables.min.css" | prepend: site.baseurl }}">

  <script type="text/javascript" src="{{ "/vendor/javascripts/jquery-2.2.0.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/vendor/javascripts/jquery.dataTables.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/vendor/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>

</head>
